.container {
  width: 100%;
}

table {
  width: 95%;
  margin: 1rem;
}

:host ::ng-deep {
  th > .mat-sort-header-sorted {
    font-weight: bolder;
  }
}

tr {
  & > td:nth-child(1){
    width: 30%;
  }

  & > td:nth-child(2) {
    width: 10%;
  }

  &:hover {
    & > td:nth-child(1),
    & > td:nth-child(2) {
      background-image: linear-gradient(to bottom, rgba(83, 185, 135, 0.3), rgba(83, 185, 135, 0.1));
    }
  }
}

@for $i from 0 through 100 {
  .bar-chart-#{$i} {
    background-image: linear-gradient(to bottom, rgba(83, 185, 135, 0.3), rgba(83, 185, 135, 0.1));
    background-size: #{$i+'%'} auto !important;
    background-repeat: no-repeat;
  }
}

.selected {
  font-weight: bold;
}
