<mat-toolbar color="primary" class="mat-elevation-z5">
  <mat-toolbar-row>

    <button mat-icon-button routerLink="/">
      <mat-icon class="icon" aria-hidden="false" aria-label="Home">home</mat-icon>
      <span class="mat-body">My Craft Note Challenge</span>
    </button>

    <span class="spacer"></span>

    <ng-container *ngIf="user$ | async as user; else notLogged">
      <span fxHide.xs class="mat-body">{{ user.email }}</span>
      <button fxHide.xs mat-button (click)="logout()" aria-label="Logout">Logout</button>

        <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/about" aria-label="About">
            <mat-icon>help_outline</mat-icon>
            <span>About</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item (click)="logout()" aria-label="Logout">
            <mat-icon>power_settings_new</mat-icon>
            <span>Logout</span>
          </button>
        </mat-menu>
    </ng-container>

    <ng-template #notLogged>
      <button fxHide.xs mat-stroked-button color="accent" routerLink="/register" aria-label="Register">Register</button>
      <button fxHide.xs mat-button routerLink="/login" aria-label="Login">Login</button>

        <button fxHide.gt-xs mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
          <mat-icon>menu</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item routerLink="/about" aria-label="About">
            <mat-icon>help_outline</mat-icon>
            <span>About</span>
          </button>
          <mat-divider></mat-divider>
          <button mat-menu-item routerLink="/register" aria-label="Register">
            <mat-icon>person_add</mat-icon>
            <span>Register</span>
          </button>
          <button mat-menu-item routerLink="/login" aria-label="Login">
            <mat-icon>fingerprint</mat-icon>
            <span>Login</span>
          </button>
         </mat-menu>
    </ng-template>

    <button fxHide.xs mat-icon-button routerLink="/about" aria-label="About">
      <mat-icon class="icon">help_outline</mat-icon>
    </button>

  </mat-toolbar-row>
</mat-toolbar>
