<div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" #ngForm="ngForm" class="container">
    <mat-form-field class="form-element" appearance="outline">
      <mat-label>Feature name</mat-label>
      <input type="text" matInput placeholder="Enter name" formControlName="featureName">
      <mat-error *ngIf="form.get('featureName').invalid && form.get('featureName').touched">
        Wrong data
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>Importance</mat-label>
      <input type="number" matInput placeholder="Enter importance" formControlName="importance">
      <mat-error *ngIf="form.get('importance').invalid && form.get('importance').touched">
        Wrong data
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-element" appearance="outline">
      <mat-label>Quantity</mat-label>
      <input type="number" matInput placeholder="Enter quantity" formControlName="quantity">
      <mat-error *ngIf="form.get('quantity').invalid && form.get('quantity').touched">
        Wrong data
      </mat-error>
    </mat-form-field>

    <button mat-raised-button
            class="form-button"
            [disabled]="form.invalid"
            color="primary">{{ form.value | functionPipe: buttonTitle }}
    </button>

    <button mat-raised-button
            type="button"
            class="form-button"
            *ngIf="form.get('id').value"
            (click)="onDelete()"
            color="accent">Delete
    </button>
  </form>
</div>
